{% extends "partials/layout.njk" %}
{% block title %}Circle result{% endblock %}
{% block content %}
    <h3>Area</h3>
    A = πr<sup>2</sup> <br>
    A = π{{ r }}<sup>2</sup> <br>
    A = π{{ r*r }} <br>
    A = {{ a }} <br><br>


{% endblock %}