{% extends "partials/layout.njk" %}
{% block title %}Add movie{% endblock %}
{% block content %}
  <form action="/movies/edit/{{movie.id}}" method="POST">
    <label for="exampleInputEmail1" class="form-label h4 fw-normal">Movie</label>
    <input type="text" placeholder="Movie name" name="movie" value="{{movie.name}}">
    <label for="exampleInputEmail1" class="form-label h4 fw-normal">Year</label>
    <input type="number" placeholder="Movie year" name="year" value="{{movie.year}}">
    <label for="exampleInputEmail1" class="form-label h4 fw-normal">Description</label>
    <textarea name="description" placeholder="Movie description">{{movie.description}}</textarea>
    <input type="submit" value="Update">
  </form>
{% endblock %}