{% extends "partials/layout.njk"%}
{% block  title %} {{ movie.name}} {% endblock %}
{% block  content %}
<style>
    table {
        border-radius: 6px;
    }
</style>
    <div class="mt-5">
    <table class="table">
        <tbody>
            <tr>
                <th scope="col">ID</th>
                <td>{{ movie.id }}</td>
            </tr>
            <tr>
                <th scope="col">Name</th>
                <td>{{ movie.name }}</td>
            </tr>
            <tr>
                <th scope="col">Year</th>
                <td>{{ movie.year }}</td>
            </tr>
            <tr>
                <th scope="col">Description</th>
                <td>{{ movie.description }}</td>
            </tr>
        </tbody>
    </table>
    </div>
{% endblock %}